
.icon-certificate:before { content: '\e800'; } /* '' */
.icon-chart-up:before { content: '\e801'; } /* '' */
.icon-earth:before { content: '\e802'; } /* '' */
.icon-group:before { content: '\e803'; } /* '' */
.icon-house:before { content: '\e804'; } /* '' */
.icon-libra:before { content: '\e805'; } /* '' */
.icon-money-house:before { content: '\e806'; } /* '' */
.icon-time:before { content: '\e807'; } /* '' */
.icon-paper:before { content: '\e808'; } /* '' */
.icon-ui:before { content: '\e809'; } /* '' */
.icon-facebook:before { content: '\e80a'; } /* '' */
.icon-paper-plane:before { content: '\e80b'; } /* '' */
.icon-medium:before { content: '\f23a'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */