//- about.pug
extends ./include/layout-app.pug
block plugins-css
    link(rel="stylesheet" type="text/css" href="v2/styles/plugins/slick.css")
    link(rel="stylesheet" type="text/css" href="v2/styles/plugins/slick-theme.css")
block page-css
    link(rel="stylesheet" type="text/css" href="v2/styles/app.css")

block content
    main#app
        .inner
            section.pageFill
                .page-banner
                    .pic.jqimgFill
                        img(src="images/v2/app/market-banner.jpg", alt="烏蘭巴托蘇赫巴托區旗艦豪宅·麗晶典華")
                    .text
                        .container.min
                            span.sub.f-title_xs.wow.fadeIn.d-02s 好評加推精選物業
                            h2.title.f-title_ml.wow.fadeInUp 烏蘭巴托蘇赫巴托區#[br]旗艦豪宅·麗晶典華
                .app-hot_info
                    .container.min
                        .left.wow.fadeInLeft
                            .advantage_block
                                .flex-row.ai-center.jc-center
                                    span.icon.icon-market-price
                                    p 每平方米#[span.num 1K]美元#[span.f10 起]
                                .flex-row.ai-center.jc-center
                                    span.icon.icon-rental-income-
                                    p 每年房租收益#[span.num 8%]
                            ul.advantage_list.nostyle
                                li 鄰近成吉思汗廣場
                                li 法式料理、墨西哥餐廳進駐
                                li 蘇赫巴托爾頂尖豪宅
                                li 8%以上預期租金收益
                                li 室內健身房、瑜珈及有氧教室
                                li 海外包租代管輕鬆投資
                        .right.wow.fadeInRight
                            p 麗晶典華位於富豪聚集的大使區，總樓層15樓共計104戶，其中3個樓層為商業空間，目前已有知名餐廳、健身房、超市以及各式商家進駐提供住戶乾洗衣物等便利服務...
                            a.btn.btn-border-primary.btn-lg(href="" title="登入購買") 登入購買
            section.sc-ptb
                .container
                    .page-headline_en.t-center.mb-80
                        em.title.f-Crimson NEW ARRIVAL
                        h2.sub.f-subTitle.fw400 最新上架
                    a.new-arrival(href="" title="詳細資訊")
                        .pic_box.arrow-m.wow.fadeInRight
                            ul.slider
                                li
                                    .pic.jqimgFill
                                        img(src="images/v2/app/new-arrival-1.jpg", alt="烏蘭巴托")
                                li
                                    .pic.jqimgFill
                                        img(src="images/v2/app/new-arrival-1.jpg", alt="烏蘭巴托")
                        .l-card_box.wow.fadeIn.d-02s
                            .l-card_info
                                div.other-info
                                    span 烏蘭巴托
                                    span  | 
                                    span 傳統租賃
                                h3.title 蘇赫巴托區旗艦豪宅.麗晶典華
                                .progressBar
                                    .progressBar_value(style="width:10%;") 
                                        span.sold.progressBar_num 10%
                                table
                                    tr
                                        td
                                            .app_feature.flex-row
                                                .icon
                                                    i.icon-rental-income-
                                                .detil
                                                    .title 租金收益
                                                    .house_num ~8%
                                        td
                                            .app_feature.flex-row
                                                .icon
                                                    i.icon-market-price
                                                .detil
                                                    .title 市價
                                                    .house_num 0.12
                                                    .house_unit USD/CM²
                                        td
                                            .app_feature.flex-row
                                                .icon
                                                    i.icon-rental-money
                                                .detil
                                                    .title 已收租金
                                                    .house_num 2,029,80
                                                    .house_unit USD
            section.sc-ptb.l-card_box.all-estate
                .container
                    .page-headline_en.t-center.mb-60
                        em.title.f-Crimson ALL PRODUCTS
                        h2.sub.f-subTitle.fw400 所有房產物件
                    ul.nostyle.flex-row
                        li.wow.fadeInUp
                            +house-card-app('烏蘭巴托市中心小豪宅MKM大樓', 'images/v2/home/real-eatate_01.jpg','width:60%;','60%', '~8%', '0.12', '2,029,80', '#')
                        li.wow.fadeInUp
                            +house-card-app('黃金地段豪景美宅歌倫塔二號', 'images/v2/home/real-eatate_02.jpg','width:0%;','0%', '~8%', '0.12', '0.0', '#')
                        li.wow.fadeInUp
                            +house-card-app('黃金地段豪景美宅歌倫塔', 'images/v2/home/real-eatate_03.jpg','width:100%;','100%', '>7%', '0.13', '500.00', '#')
                        li.wow.fadeInUp
                            +house-card-app('烏蘭巴托市中心小豪宅MKM大樓', 'images/v2/home/real-eatate_01.jpg','width:60%;','60%', '~8%', '0.12', '2,029,80', '#')
        

            section.l-chartNews.bg-light
                .container
                    .text.wow.fadeIn
                        span.f-subTitle 首發推薦 
                        h2.main-title 新興市場之最，#[br]蒙古國烏蘭巴托！ 
                        p 亞太礦業都心，橫跨歐亞的物貿樞紐，各項經濟數據穩定增長，高額外國直接投資，以礦為本百業具興，青年領頭未來可期！
                    .slider-info.arrow-m.wow.fadeInUp.d-03s
                        ul.slider
                            li
                                a.chart_item(href="https://www.worldbank.org/en/news/infographic/2018/08/10/infographic-mongolia-economic-update-july-2018" target="_blank" rel="noopener")
                                    .chart_pic.jqimgFill
                                        img(src="images/v2/home/chart.jpg", alt="")
                                h3.chart_name 世銀報告
                            li
                                a.chart_item(href="" target="_blank" rel="noopener")
                                    .chart_pic.jqimgFill
                                        img(src="images/v2/home/chart-2.jpg", alt="")
                                h3.chart_name 蒙古國經濟展望報告
