//- index.pug

extends ./include/layout.pug

block content
    main#home
        .inner
            .banner
                .pic.jqimgFill
                    img(src="styles/images/home/banner.jpg", alt="CM2 全球優質物業平台")
                .text.flex-center
                    h2.title.f-title_big #[span.en CM2] 全球優質物業平台
                    span.sub.f-title_s.mb-80 投資房產絕不受限
                    a.btn.btn-lg.btn-gradient.hover-w(href="" title="立即開始") Join Now 立即開始

            section
                .container.min.l-half_box
                    .l-half.pageFill.sc-ptb
                        .text
                            h2.main-title 探索全球絕佳的#[br]房產投資標的
                            em.f-subTitle 獲取穩定的收益來源與無限的增值空間
                            p CM2房產平台從一般住宅到商辦大樓，精選全球新興市場、已開發市場優質物業，提供您安心可靠的房產選擇，增加您的被動收入來源，並創造資產增值的無限可能。
                        .breck-pic
                            .pic
                                img(src="styles/images/home/brack-pic.png", alt="CM2 Square")
                    .l-half.pageFill.sc-ptb
                        span.bg
                            img(src="styles/images/earth-bg.jpg", alt="")
                        .text
                            h2.main-title CM2專業的#[br]全球物業顧問服務
                            em.f-subTitle CM2房產精選具備穩定每月租金收益物件，不必等待收益成熟、不必面對未知風險!
                        .iconList
                            .l-list
                                .l-list_icon
                                    img(src="styles/images/home/icon-house.png", alt="")
                                .l-list_text
                                    h3.f-subTitle 嚴選物件
                                    p CM2排除預售房，0交屋風險．0現金壓力．0交易糾紛
                            .l-list
                                .l-list_icon
                                    img(src="styles/images/home/icon-paper.png", alt="")
                                .l-list_text
                                    h3.f-subTitle 公開透明
                                    p 公開租約．房產證確保項目真實性與完整性
                            .l-list
                                .l-list_icon
                                    img(src="styles/images/home/icon-libra.png", alt="")
                                .l-list_text
                                    h3.f-subTitle 第三方託管
                                    p 第三方律師機構託管，確保資產不可移轉
            section.pageFill.sc-ptb
                h2.pc-hidden.main-title.t-center 平台特色
                .container.min
                    .l-iconGrid.qty6
                        span.name_1 平台
                        span.name_2 特色
                        span.line_h._01
                        span.line_h._02
                        span.line_h._03
                        span.line_w._01
                        span.line_w._02
                        span.line_w._03
                        span.line_w._04
                        .item._01
                            .l-iconGrid_icon
                                i.icon-group_G
                            h3.l-iconGrid_name 跨領域專家合作
                        .item._02
                            .l-iconGrid_icon
                                i.icon-time_G
                            h3.l-iconGrid_name 詳細即時的區域#[br]經濟研究分析
                        .item._03
                            .l-iconGrid_icon
                                i.icon-chart-up_G
                            h3.l-iconGrid_name 公開透明的交易紀錄
                        .item._04
                            .l-iconGrid_icon
                                i.icon-certificate_G
                            h3.l-iconGrid_name 全面公示的房產文件
                        .item._05
                            .l-iconGrid_icon
                                i.icon-money-house_G
                            h3.l-iconGrid_name 安全便利的資產管理
                        .item._06
                            .l-iconGrid_icon
                                i.icon-ui_G
                            h3.l-iconGrid_name 清楚、直覺的操作介面


            section.l-chartNews.bg-light
                .container
                    .text
                        span.f-subTitle 首發推薦 
                        h2.main-title 新興市場之最，#[br]蒙古國烏蘭巴托！ 
                        p 亞太礦業都心，橫跨歐亞的物貿樞紐，各項經濟數據穩定增長，高額外國直接投資，以礦為本百業具興，青年領頭未來可期！
                    .slider-info.arrow-m
                        ul.slider
                            li
                                a.chart_item(href="https://www.worldbank.org/en/news/infographic/2018/08/10/infographic-mongolia-economic-update-july-2018" target="_blank" rel="noopener")
                                    .chart_pic.jqimgFill
                                        img(src="styles/images/home/chart.jpg", alt="")
                                h3.chart_name 世銀報告
                            li
                                a.chart_item(href="" target="_blank" rel="noopener")
                                    .chart_pic.jqimgFill
                                        img(src="styles/images/home/chart-2.jpg", alt="")
                                h3.chart_name 蒙古國經濟展望報告
            section.sc-ptb.l-card_box
                .container
                    h2.main-title.t-center 房產市場資訊
                    .slider_qty3.arrow-big
                        ul.slider
                            //- house-card(title, imgurl, width_num, num, data_1, data_2, data_3, href)
                            li
                                +house-card('烏蘭巴托市中心小豪宅MKM大樓', 'styles/images/home/real-eatate_01.jpg','width:60%;','60%', '~8%', '0.12', '2,029,80', '#')
                            li
                                +house-card('黃金地段豪景美宅歌倫塔二號', 'styles/images/home/real-eatate_02.jpg','width:0%;','0%', '~8%', '0.12', '0.0', '#')
                            li
                                +house-card('黃金地段豪景美宅歌倫塔', 'styles/images/home/real-eatate_03.jpg','width:100%;','100%', '>7%', '0.13', '500.00', '#')
                            li
                                +house-card('烏蘭巴托市中心小豪宅MKM大樓', 'styles/images/home/real-eatate_01.jpg','width:60%;','60%', '~8%', '0.12', '2,029,80', '#')
                .btn-box.t-center.mt-40
                    a.btn.btn-gradient(href="" title="MORE") MORE

            section.bg-light.sc-ptb
                .container.min
                    h2.main-title.t-center 相關報導
                    .l-list_box
                        mixin new-list
                            a.l-list(href="" target="_blank" rel="noopener")
                                .l-list_pic.jqimgFill
                                    img(src="styles/images/home/city2.jpg", alt="最新消息圖片")
                                .l-list_text
                                    h3.title.f-subTitle.fw600 搶搭蒙古經濟快車！ 海外房地產投資掀起新熱潮
                                    .l-list_info
                                        blockquote 台灣好新聞
                                        span.date 2019.04.14
                        +new-list
                        +new-list
                        +new-list
                        +new-list
            .join-bar
                .container
                    .f-title_m.mb-30 投資全球物業不再侷限，#[span.en CM2]房產陪您探索世界!
                    a.btn.btn-gradient.hover-w(href="" title="立即開始") Join Now 立即開始
            