nav.footer-nav
    ul.nostyle
        li
            a(href="" title="常問問題") 常問問題
        li
            a(href="" title="使用教學") 使用教學
        li
            a(href="" title="關於我們") 關於我們
        li
            a(href="" title="聯繫我們") 聯繫我們
footer#footer
    address.container
        .company
            .footer-logo
            .link-nav
                a.item(href="")
                    i.icon-facebook
                a.item(href="")
                    i.icon-twitter
                a.item(href="")
                    i.icon-linkedin
                a.item(href="")
                    i.icon-medium
                a.item(href="")
                    i.icon-paper-plane
            .copyright © CM Square Holdings Ltd 2019。#[br]All rights reserved.
        .address
            .item
                .title HK Office
                a(href="https://goo.gl/maps/xjHvLc6irFQ4p5uV8" title="HK Office" target="_blank") Unit 5C, West Gate Tower, 7 Wing Hong Street,Kowloon, Hong Kong
            .item
                .title SG Office
                a(href="https://goo.gl/maps/LphJ4PXsJ2rkwPM4A" title="SG Office" target="_blank") 10 Anson Road #05-17 International Plaza
            .item
                .title TW Office
                a(href="https://goo.gl/maps/LphJ4PXsJ2rkwPM4A" title="TW Office" target="_blank") 6F., No.188, Sec. 5, Nanjing E. Rd., Songshan Dist., Taipei City 105, Taiwan (R.O.C.)
            .item
                .title MG Office
                a(href="https://goo.gl/maps/LphJ4PXsJ2rkwPM4A" title="MG Office" target="_blank") Mongolia Ulaanbaatar Bayanzurkh district 18r khoroo 13r khoroolol Building 39 No.2
            