//- head.pug
meta(charset="utf-8")
title CM Square
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
link(rel="icon" type="image/x-icon" href="styles/images/web-icon.ico")
link(rel="stylesheet" type="text/css" href="styles/style.css")