//- head.pug
meta(charset="utf-8")
title CM Square
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
link(rel="icon" type="image/x-icon" href="images/v2/web-icon.ico")
//- reset
link(rel="stylesheet" type="text/css" href="v2/styles/normalize.css")
//- font & icon
link(href='https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat:300,400,600,700|Noto+Sans+TC:100,300,400,500,700,900', rel='stylesheet')
link(rel="stylesheet" type="text/css" href="v2/styles/fonts/css/fontello.css")
//- plugins
link(rel="stylesheet" type="text/css" href="v2/styles/plugins/animate.css")
block plugins-css
link(rel="stylesheet" type="text/css" href="v2/styles/common.css")
block page-css 
