header#header.animated.fadeInDown
    .container
        .menu-toggle
            .hamburger
        .menu
            .logo
                a(href="./")
                    h1.hidden CM Square
            .nav
                ul.nostyle
                    li
                        a(href="" title="房產市場") 房產市場
                    li
                        a(href="" title="我的房產") 我的房產
                    li
                        a(href="" title="趨勢文章") 趨勢文章
                    li
                        a(href="" title="關於我們") 關於我們
            .link-nav
                ul.nostyle
                    li
                        a(href="" title="登入") 登入
                    li
                        a(href="" title="註冊") 註冊
                .lang-btn
                    span.icon
                        i.icon-earth
                    ul.lang-nav.nostyle
                        li
                            a(href="" title="中文") 中文
                        li
                            a(href="" title="English") English