header#header.animated.fadeInDown
    .container
        .menu-toggle
            .hamburger
        .menu
            .logo.app
                a(href="./")
                    h1.hidden CM Square
            .nav
                ul.nostyle
                    li
                        a(href="index.html" title="首頁") 首頁
                    li
                        a(href="" title="我的房產") 我的房產
                    li
                        a(href="" title="我的錢包") 我的錢包
                    li
                        a(href="about.html" title="關於我們") 關於我們
            .link-nav
                ul.nostyle
                    li
                        a(href="" title="登入") 登入
                    li
                        a(href="" title="註冊") 註冊
                .lang-btn
                    span.icon
                        i.icon-earth
                    ul.lang-nav.nostyle
                        li
                            a(href="" title="中文") 中文
                        li
                            a(href="" title="English") English