@charset "UTF-8";
.login-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("../../images/v2/login-bg.jpg");
  background-size: cover;
  position: relative; }
  .login-inner::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -0; }

.login-box {
  min-width: 360px;
  max-width: 400px;
  border-radius: 16px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.8);
          box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.8);
  line-height: 1.6;
  z-index: 50;
  overflow: hidden;
  position: relative; }
  .login-box .error {
    font-size: 15px; }
    .login-box .error ul {
      margin: 0;
      padding: 14px 20px 0; }
    .login-box .error li {
      margin-bottom: 0; }
  @media screen and (max-width: 479px) {
    .login-box {
      min-width: auto;
      width: 90%; } }

.login-nav, .login-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FAFAF6;
  position: relative; }

.login-title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-weight: 600;
  padding: 18px 20px; }

.login-nav::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 18px;
  background-color: #606060;
  position: absolute;
  top: 22px;
  left: 0;
  right: 0;
  margin: 0 auto; }

.login-nav li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  border-bottom: 3px solid transparent;
  padding: 16px 0; }
  .login-nav li.active {
    border-color: #EE833E; }
    .login-nav li.active a {
      -webkit-transition: color 0.25s ease-in-out;
      transition: color 0.25s ease-in-out;
      color: #EE833E; }

@media screen and (min-width: 992px) {
  .login-nav li a:hover {
    color: #EE833E; } }

.login-info {
  padding: 30px 30px;
  max-height: calc(80vh - 66px);
  overflow-y: auto;
  font-size: 16px; }
  @media screen and (max-width: 991px) {
    .login-info {
      padding: 25.5px 15px; } }
  @media screen and (max-width: 479px) {
    .login-info {
      padding: 19.8px 15px; } }
  .login-info .link {
    text-align: right;
    display: block;
    font-size: 15px;
    line-height: 1.2;
    margin: 16px 0 0;
    -webkit-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out; }
    .login-info .link:hover {
      color: #EE833E; }

.input-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -6px; }
  .input-row > * {
    margin: 0 6px; }

.input-group {
  margin-bottom: 16px; }
  .input-group > * {
    display: block; }
  .input-group label {
    margin-bottom: 4px; }
  .input-group input {
    width: 100%;
    height: 36px;
    border: none;
    background-color: #EEEEEE;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 16px; }

.select__group {
  width: 100%;
  margin-bottom: 16px;
  position: relative;
  display: inline-block; }
  .select__group:before {
    content: "▼";
    color: #606060;
    position: absolute;
    right: 1em;
    font-size: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .select__group select.select {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 36px;
    border: none;
    background-color: #EEEEEE;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 16px; }

.btn {
  width: 100%;
  margin-top: 14px; }

.activity hr {
  color: #BBBBBB;
  opacity: .5;
  margin: 24px 0; }

.activity .login-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 30px; }
  .activity .login-nav .icon {
    font-size: 80px;
    line-height: 1;
    margin-right: 10px;
    color: #ea7746; }
  .activity .login-nav .title-icon {
    display: none; }
  .activity .login-nav .title {
    width: 100%;
    font-size: 1.4em;
    background: #ea7746;
    background: -webkit-gradient(linear, left top, right top, from(#ea7746), color-stop(80%, #f59a2e));
    background: linear-gradient(90deg, #ea7746 0%, #f59a2e 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0; }
  .activity .login-nav::after {
    display: none; }
  .activity .login-nav p {
    font-size: 16px;
    line-height: 1.4;
    margin: 4px 0 0; }
  @media screen and (max-width: 767px) {
    .activity .login-nav {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 14px 15px; }
      .activity .login-nav .icon {
        display: none; }
      .activity .login-nav .title {
        font-size: 1.26em; } }
  @media screen and (max-width: 479px) {
    .activity .login-nav .title-icon {
      -webkit-text-fill-color: #ea7746;
      display: inline-block;
      color: #ea7746;
      font-size: 26px;
      margin-right: 4%; } }

.activity .contact-info {
  font-size: 16px;
  margin-top: 4px; }

.activity .login-box {
  max-width: 730px;
  margin-top: 4vh; }

.activity .input-row > * {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.activity .login-info {
  height: calc(80vh - 25vh); }

@media screen and (min-width: 992px) {
  .activity .input-row .check-box {
    width: 50%; } }

@media screen and (max-width: 991px) {
  .activity .input-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .activity .input-row .check-box {
      width: 100%; } }

.label_row {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .label_row span {
    font-size: 16px; }
