.realestateBanner img {
  max-width: auto;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

@media screen and (min-width: 992px) {
  .realestateBanner {
    height: 50vh; }
    .realestateBanner .item {
      width: 25vw;
      height: 25vh;
      float: left; }
      .realestateBanner .item:first-child {
        width: 50vw;
        height: 50vh; } }

@media screen and (max-width: 991px) {
  .realestateBanner {
    margin-bottom: 0 !important; }
    .realestateBanner .item {
      width: 100%;
      height: 100%;
      display: none; }
      .realestateBanner .item:first-child {
        display: block; }
    .realestateBanner .slick-dots {
      bottom: 20px; }
    .realestateBanner .slick-dots li.slick-active button {
      background-color: #FFF; }
    .realestateBanner .slick-dots li button {
      border: 1px solid #FFF; } }

@media screen and (max-width: 600px) {
  .realestateBanner .slick-dots {
    bottom: 4px; }
    .realestateBanner .slick-dots li {
      margin: 0 4px; }
  .realestateBanner .slick-dots li button {
    width: 12px;
    height: 12px; } }

.realestate_inner * {
  line-height: 1.4; }

.realestate_inner .container {
  position: relative; }

.realestate_content {
  padding: 40px 0; }
  @media screen and (max-width: 991px) {
    .realestate_content {
      padding: 34px 0; } }
  @media screen and (max-width: 479px) {
    .realestate_content {
      padding: 26.4px 0; } }
  @media screen and (min-width: 992px) {
    .realestate_content {
      width: calc(100% - (320px + 40px)); } }
  @media screen and (max-width: 600px) {
    .realestate_content {
      padding: 14px 0; } }

.property-heading .sub {
  font-size: 20.0px;
  font-weight: 400;
  margin-bottom: 0; }

.property-heading .title {
  font-size: 2.4em;
  margin: 10px 0 14px; }

@media screen and (max-width: 767px) {
  .property-heading .title {
    font-size: 2em; }
  .property-heading .sub {
    font-size: 18px; }
  .property-heading .social-media {
    margin-top: 14px; } }

@media screen and (max-width: 320px) {
  .property-heading .title {
    font-size: 1.8em; } }

.propertyNav {
  width: 100%;
  border-bottom: 1px solid #BBBBBB; }
  .propertyNav li {
    display: inline-block;
    text-align: center;
    border-bottom: 2px solid transparent;
    padding: 10px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .propertyNav li.active {
      border-color: #EE833E; }
      .propertyNav li.active a {
        font-weight: 500;
        color: #EE833E; }
  @media screen and (max-width: 479px) {
    .propertyNav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .propertyNav li {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        padding: 10px 0; } }

.propertyInfo {
  font-size: 18px;
  padding: 20px 0; }
  @media screen and (max-width: 991px) {
    .propertyInfo {
      padding: 17px 0; } }
  @media screen and (max-width: 479px) {
    .propertyInfo {
      padding: 13.2px 0; } }
  .propertyInfo .part {
    margin-bottom: 40px; }
    @media screen and (max-width: 991px) {
      .propertyInfo .part {
        margin-bottom: 34px; } }
    @media screen and (max-width: 479px) {
      .propertyInfo .part {
        margin-bottom: 26.4px; } }
  .propertyInfo .title {
    font-size: 22px;
    margin-bottom: 10px; }
  .propertyInfo p {
    font-weight: 400;
    text-align: justify;
    line-height: 1.8;
    margin: 0; }
  .propertyInfo ul {
    width: 100%; }
  @media screen and (max-width: 767px) {
    .propertyInfo {
      font-size: 16px; }
      .propertyInfo .title {
        font-size: 18px; } }

.imgbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0; }
  @media screen and (max-width: 991px) {
    .imgbox {
      margin: 34px 0; } }
  @media screen and (max-width: 479px) {
    .imgbox {
      margin: 26.4px 0; } }
  .imgbox figure {
    width: 50%;
    margin: 0;
    padding: 0; }
  .imgbox img {
    width: 100%;
    height: 230px;
    -o-object-fit: cover;
       object-fit: cover; }
  @media screen and (max-width: 767px) {
    .imgbox figure {
      width: 100%;
      margin-bottom: 20px; } }

#realestate .l-half_box {
  margin: 0 -40px; }
  #realestate .l-half_box .item {
    border-right: 1px solid #BBBBBB;
    padding: 0 40px; }
    #realestate .l-half_box .item:last-child {
      border: none; }
  @media screen and (max-width: 600px) {
    #realestate .l-half_box .title {
      margin-bottom: 0; }
    #realestate .l-half_box .item {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      margin-bottom: 30px; } }

.realestate_stress {
  margin: 40px 0;
  padding: 20px;
  border: 1px solid rgba(238, 131, 62, 0.8); }
  @media screen and (max-width: 991px) {
    .realestate_stress {
      margin: 34px 0; } }
  @media screen and (max-width: 479px) {
    .realestate_stress {
      margin: 26.4px 0; } }
  .realestate_stress .title {
    margin-top: 0; }
  .realestate_stress .advantage_block {
    margin: 20px -20px; }
    .realestate_stress .advantage_block > * {
      width: 50%;
      border-right: 1px solid #BBBBBB;
      padding: 0 20px; }
      .realestate_stress .advantage_block > *:last-child {
        border: none; }
    .realestate_stress .advantage_block .icon {
      font-size: 56px;
      margin-right: 14px; }
    .realestate_stress .advantage_block .title, .realestate_stress .advantage_block p {
      margin: 0; }
    .realestate_stress .advantage_block .title {
      font-size: 18px;
      margin-right: 14px; }
    .realestate_stress .advantage_block .num {
      font-size: 24px;
      font-weight: 500;
      color: #EE833E;
      margin: 0 8px; }
  .realestate_stress .note {
    display: block;
    font-style: normal;
    margin-top: 20px; }
  @media screen and (max-width: 991px) {
    .realestate_stress .advantage_block > * {
      width: auto;
      min-width: 40%; } }
  @media screen and (max-width: 767px) {
    .realestate_stress {
      margin-top: 30px; }
      .realestate_stress .advantage_block > * {
        width: 100%; }
      .realestate_stress .advantage_block .icon {
        font-size: 40px; } }
  @media screen and (max-width: 479px) {
    .realestate_stress .advantage_block > * {
      border: none; }
    .realestate_stress .advantage_block .title {
      font-size: 16px; }
    .realestate_stress .advantage_block .num {
      font-size: 20px; } }

.my_realestate .advantage_block {
  border-bottom: 1px solid #BBBBBB; }
  .my_realestate .advantage_block .flex-row {
    padding-bottom: 10px; }

.my_buylist {
  margin-bottom: 20px; }
  @media screen and (max-width: 991px) {
    .my_buylist {
      margin-bottom: 17px; } }
  @media screen and (max-width: 479px) {
    .my_buylist {
      margin-bottom: 13.2px; } }
  .my_buylist .buylist_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 0; }
  .my_buylist .buylist_total {
    border-top: 1px solid #BBBBBB;
    margin-top: 20px;
    padding-top: 20px; }
    @media screen and (max-width: 991px) {
      .my_buylist .buylist_total {
        margin-top: 17px; } }
    @media screen and (max-width: 479px) {
      .my_buylist .buylist_total {
        margin-top: 13.2px; } }
    @media screen and (max-width: 991px) {
      .my_buylist .buylist_total {
        padding-top: 17px; } }
    @media screen and (max-width: 479px) {
      .my_buylist .buylist_total {
        padding-top: 13.2px; } }
  @media screen and (max-width: 600px) {
    .my_buylist .buylist_item {
      font-size: 16px !important;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }

.realestate_price .title, .realestate_price p {
  margin-top: 20px; }
  @media screen and (max-width: 991px) {
    .realestate_price .title, .realestate_price p {
      margin-top: 17px; } }
  @media screen and (max-width: 479px) {
    .realestate_price .title, .realestate_price p {
      margin-top: 13.2px; } }

.trading-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16.6px;
  color: #EE833E;
  padding: 10px 0;
  border-bottom: 1px solid #BBBBBB;
  margin-bottom: 10px; }
  .trading-nav *:first-child {
    width: 94px; }
  .trading-nav *:nth-child(2) {
    width: 84px; }
  .trading-nav *:nth-child(3) {
    width: 55%; }
  @media screen and (max-width: 600px) {
    .trading-nav {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .trading-nav span {
        font-size: 14px; }
        .trading-nav span:first-child, .trading-nav span:nth-child(2) {
          width: 50%; }
        .trading-nav span:nth-child(even) {
          text-align: right; } }

.trading-record .record_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px dotted rgba(187, 187, 187, 0.4);
  padding: 10px 0; }
  .trading-record .record_item:last-child {
    border: none; }

.trading-record .record_buy_detail a {
  color: #EE833E;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out; }
  .trading-record .record_buy_detail a:hover {
    color: #909090 !important; }

.trading-record .record_buy_detail_inner {
  display: none;
  font-size: 16.6px; }
  .trading-record .record_buy_detail_inner .label, .trading-record .record_buy_detail_inner p {
    width: auto;
    display: inline-block;
    margin: 4px 0; }
  .trading-record .record_buy_detail_inner .label {
    font-weight: 500;
    margin-right: 20px; }

.trading-record .date, .trading-record .record_buy_detail {
  font-size: 16px; }

.trading-record p {
  margin: 4px 0; }

.trading-record .icon span {
  font-size: 16px;
  margin-left: 10px; }

@media screen and (min-width: 480px) {
  .trading-record span, .trading-record .record_buy_detail {
    width: 50%; }
  .trading-record .date {
    width: 100px; }
  .trading-record .icon {
    width: 84px; } }

@media screen and (max-width: 600px) {
  .trading-record .date, .trading-record .record_buy {
    font-size: 14px; }
  .trading-record .icon span {
    font-size: 14px; }
  .trading-record .record_item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .trading-record .record_item > * .date, .trading-record .record_item > * .icon, .trading-record .record_item > * .record_buy {
      width: 50%; }
    .trading-record .record_item > * .date {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    .trading-record .record_item > * .record_but {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3;
      text-align: right; }
    .trading-record .record_item > *:nth-child(3) {
      -webkit-box-ordinal-group: 5;
          -ms-flex-order: 4;
              order: 4;
      margin-top: 10px; }
    .trading-record .record_item > * .icon {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; } }

.realestate_card {
  width: 320px;
  border-radius: 16px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.8);
          box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.8);
  position: absolute;
  overflow: hidden;
  line-height: 1.6; }
  .realestate_card.hide {
    display: none !important; }
  .realestate_card.active {
    right: calc(((100vw - 1440px) / 2) + 40px); }
  .realestate_card * {
    margin: 0; }
  .realestate_card .top, .realestate_card .middle, .realestate_card .error, .realestate_card .btm {
    padding: 20px 30px; }
    @media screen and (max-width: 991px) {
      .realestate_card .top, .realestate_card .middle, .realestate_card .error, .realestate_card .btm {
        padding: 17px 15px; } }
    @media screen and (max-width: 479px) {
      .realestate_card .top, .realestate_card .middle, .realestate_card .error, .realestate_card .btm {
        padding: 13.2px 15px; } }
  .realestate_card .btn {
    width: 100%;
    min-width: auto; }
  .realestate_card .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #BBBBBB;
    padding: 14px 20px; }
    .realestate_card .top .icon {
      font-size: 70px; }
    .realestate_card .top .text {
      width: 50%;
      text-align: center;
      color: #EE833E;
      font-weight: 500;
      font-size: 19px;
      padding: 12px 4px 4px;
      letter-spacing: 1px; }
  .realestate_card .middle .count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #BBBBBB; }
    @media screen and (max-width: 991px) {
      .realestate_card .middle .count {
        padding: 17px 0; } }
    @media screen and (max-width: 479px) {
      .realestate_card .middle .count {
        padding: 13.2px 0; } }
  .realestate_card .middle .minus, .realestate_card .middle .add {
    font-size: 22px;
    cursor: pointer;
    -webkit-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out; }
    @media screen and (min-width: 992px) {
      .realestate_card .middle .minus:hover, .realestate_card .middle .add:hover {
        color: #EE833E; } }
  .realestate_card .middle .value {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: calc(100% - 44px);
    padding: 0 10px; }
    .realestate_card .middle .value input {
      min-width: 40%;
      max-width: calc(100% - 60px);
      text-align: center;
      font-size: 22px;
      color: #EE833E;
      border: none;
      margin: 0 8px; }
    .realestate_card .middle .value .unit {
      width: 60px; }
  .realestate_card .middle .count-math {
    font-size: 18px;
    margin: 20px 0; }
    @media screen and (max-width: 991px) {
      .realestate_card .middle .count-math {
        margin: 17px 0; } }
    @media screen and (max-width: 479px) {
      .realestate_card .middle .count-math {
        margin: 13.2px 0; } }
  .realestate_card .btm {
    background-color: #FAFAF6;
    padding: 30px 10px; }
    @media screen and (max-width: 991px) {
      .realestate_card .btm {
        padding: 25.5px 5px; } }
    @media screen and (max-width: 479px) {
      .realestate_card .btm {
        padding: 19.8px 5px; } }
  .realestate_card .aval-balance {
    border-right: 1px solid #BBBBBB;
    font-size: 15px;
    width: 50%; }
    .realestate_card .aval-balance:last-child {
      border: none; }
  .realestate_card .error {
    font-size: 15px;
    padding-top: 0; }
  @media screen and (min-width: 1441px) {
    .realestate_card {
      right: 0; } }
  @media screen and (max-width: 1440px) {
    .realestate_card {
      right: 20px; }
      .realestate_card.active {
        right: 20px; } }
  @media screen and (min-width: 992px) {
    .realestate_card {
      top: -60px; }
      .realestate_card.active {
        position: fixed;
        top: 100px; } }
  @media screen and (max-width: 991px) {
    .realestate_card {
      display: none;
      position: fixed;
      width: 90%;
      top: 50%;
      left: 50%;
      right: 0;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      z-index: 99;
      max-height: 80vh;
      overflow-x: hidden;
      overflow-y: auto; } }

.realestate_btn {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 24px;
  border-radius: 50%;
  color: #FFF; }
  .realestate_btn::before {
    margin: 0; }
  @media screen and (max-width: 991px) {
    .realestate_btn {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      position: fixed;
      right: 40px;
      bottom: 40px;
      z-index: 99; } }
  @media screen and (max-width: 479px) {
    .realestate_btn {
      width: 40px;
      height: 40px;
      right: 20px;
      bottom: 30px; } }

.creditcard_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px; }
  .creditcard_row .icon {
    margin-right: 10px; }
  .creditcard_row input {
    margin: 0 6px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #BBBBBB; }
    .creditcard_row input:last-child {
      margin-right: 0; }
  .creditcard_row .card_num {
    width: 50%; }

.realestate_pop {
  display: none;
  max-width: 580px;
  width: 90%;
  max-height: 80vh;
  background-color: #FFF;
  -webkit-box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.8);
          box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.8);
  border-radius: 16px;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 99; }
  .realestate_pop .close {
    cursor: pointer;
    font-size: 18px; }
  .realestate_pop .top, .realestate_pop .middle, .realestate_pop .btm {
    padding: 20px 30px; }
    @media screen and (max-width: 991px) {
      .realestate_pop .top, .realestate_pop .middle, .realestate_pop .btm {
        padding: 17px 15px; } }
    @media screen and (max-width: 479px) {
      .realestate_pop .top, .realestate_pop .middle, .realestate_pop .btm {
        padding: 13.2px 15px; } }
  .realestate_pop .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #BBBBBB; }
    .realestate_pop .top > * {
      margin: 0; }
  .realestate_pop .btn {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin: 16px 0; }
  .realestate_pop .btm {
    background-color: #FAFAF6; }
  .realestate_pop .note {
    font-size: 16px;
    font-style: normal; }
  .realestate_pop p {
    margin: 0; }
