.wallet_card {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 1199px) {
    .wallet_card {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center; } }

.wallet_inner {
  padding: 40px 40px;
  margin-bottom: 60px; }
  @media screen and (max-width: 991px) {
    .wallet_inner {
      padding: 34px 20px; } }
  @media screen and (max-width: 479px) {
    .wallet_inner {
      padding: 26.4px 20px; } }
  @media screen and (max-width: 991px) {
    .wallet_inner {
      margin-bottom: 51px; } }
  @media screen and (max-width: 479px) {
    .wallet_inner {
      margin-bottom: 39.6px; } }
  @media screen and (max-width: 600px) {
    .wallet_inner {
      padding: 20px 0; } }

.wallet_detail, .wallet_money, .wallet_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.wallet_detail {
  padding-left: 30px;
  padding-right: 30px;
  padding-right: 0; }
  @media screen and (max-width: 991px) {
    .wallet_detail {
      padding-left: 15px;
      padding-right: 15px; } }
  .wallet_detail .icon {
    font-size: 75px;
    color: #EE833E;
    line-height: 1;
    margin-top: -34px;
    margin-right: 20px; }
    .wallet_detail .icon i::before {
      margin: 0; }
  .wallet_detail .title {
    margin-right: 20px; }

.wallet_money span {
  display: inline-block; }

.wallet_nav {
  min-height: 100px;
  padding-left: 10px;
  padding-right: 4%;
  background-color: #FAFAF6; }
  .wallet_nav li {
    display: inline-block;
    padding: 0 15px;
    font-size: 18px;
    border-right: 1px solid #BBBBBB; }
    .wallet_nav li:last-child {
      border: none; }
  .wallet_nav .btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: auto;
    height: 50px;
    font-size: 18px;
    line-height: 1.6;
    background-color: #fff;
    margin-left: 20px; }

@media screen and (min-width: 992px) {
  .wallet_nav .btn:hover {
    background-color: #EE833E; } }

@media screen and (min-width: 1200px) {
  .wallet_detail {
    width: calc(64% - 280px); } }

@media screen and (max-width: 1199px) {
  .wallet_detail {
    width: calc(100% - 170px); }
  .wallet_nav {
    width: 100%;
    min-height: 80px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 20px; }
    .wallet_nav li {
      padding: 0 10px; } }

@media screen and (max-width: 991px) {
  .wallet_detail {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media screen and (max-width: 767px) {
  .wallet_detail {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .wallet_detail .icon {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 64px;
      font-size: 64px;
      margin-top: 0;
      margin-right: 10px; }
      .wallet_detail .icon i {
        margin-top: -30px; }
  .wallet_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .wallet_detail, .wallet_nav {
    padding: 10px 20px 0; } }

@media screen and (max-width: 479px) {
  .wallet_detail .title {
    font-size: 18px; }
  .wallet_nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 20px; }
    .wallet_nav li {
      font-size: 16.6px; }
    .wallet_nav .btn {
      width: 100%;
      height: auto;
      font-size: 16.6px;
      margin-top: 10px;
      margin-left: 0; } }

@media screen and (max-width: 600px) {
  .wallet_detail {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .wallet_detail .icon {
      font-size: 55px;
      height: 40px; }
      .wallet_detail .icon i {
        margin-top: -20px; }
    .wallet_detail .wallet_money {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .wallet_detail .wallet_money > * {
        margin: 4px 0; }
  .wallet_nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 14px 20px; }
    .wallet_nav ul {
      width: 68%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-right: 2%; }
      .wallet_nav ul li {
        width: 50%;
        text-align: center;
        font-size: 16px; }
        .wallet_nav ul li:first-child {
          padding-left: 0; }
    .wallet_nav .btn {
      width: 42%;
      font-size: 16px;
      height: 40px;
      padding: 6px 0;
      margin-top: 0; }
  #wallet .trading-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    #wallet .trading-nav span:first-child, #wallet .trading-nav span:nth-child(2) {
      width: 50%; }
    #wallet .trading-nav span:nth-child(even) {
      text-align: right; }
  #wallet .trading-record .record_buy_detail {
    font-size: 14px !important;
    margin-top: 0; }
  #wallet .trading-record .record_buy_detail_inner {
    font-size: 14px;
    width: 150%; }
    #wallet .trading-record .record_buy_detail_inner .label {
      width: 20%;
      float: left; }
    #wallet .trading-record .record_buy_detail_inner p {
      width: calc(100% - 28%); }
  #wallet .record_item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 4px; }
    #wallet .record_item .date, #wallet .record_item .icon {
      width: 50%;
      line-height: 35px;
      height: 35px; }
    #wallet .record_item > *:nth-child(even) {
      text-align: right; }
    #wallet .record_item .record_buy_detail {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 66.666667%;
              flex: 0 0 66.666667%;
      max-width: 66.666667%;
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; }
    #wallet .record_item .record_buy {
      -webkit-box-ordinal-group: 5;
          -ms-flex-order: 4;
              order: 4;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 33.333333%;
              flex: 0 0 33.333333%; } }

#change_CM2T form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 170px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 50px;
  font-size: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out; }

#change_CM2T label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

#change_CM2T .icon {
  margin-top: 0;
  margin-right: 6px;
  font-size: 26px; }

#change_CM2T .money_cm2t::before {
  display: none; }

#change_CM2T .error {
  font-size: 15px;
  padding-top: 0;
  margin-left: 42px; }

#change_CM2T input {
  min-width: auto;
  width: 60px;
  margin: 0 5px;
  border: none;
  border-bottom: 1px solid #909090; }

#change_CM2T #change_CM2T_btn {
  height: 30px;
  border-radius: 50%;
  border: 1px solid #EE833E;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  color: #EE833E;
  background-color: transparent;
  margin-left: 10px;
  -webkit-transition: color .25s ease-in-out,background .25s ease-in-out;
  transition: color .25s ease-in-out,background .25s ease-in-out; }
  @media screen and (min-width: 992px) {
    #change_CM2T #change_CM2T_btn:hover {
      background-color: #EE833E;
      color: #FFF; } }

@media screen and (max-width: 991px) {
  #change_CM2T {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px; }
    #change_CM2T .error {
      margin-left: 0; } }
