#app .page-banner .text {
  text-align: left !important; }

#app .page-banner .title {
  line-height: normal; }

#app .page-banner .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

#app .l-card_info > .title {
  color: #ED8747; }

#app .l-card_info .other-info {
  color: #909090; }

#app .l-card_info table {
  width: 100%;
  margin-top: 10px; }
  #app .l-card_info table td {
    min-width: 25%; }
    #app .l-card_info table td:first-child .app_feature {
      padding-left: 0; }
    #app .l-card_info table td:last-child .app_feature {
      padding-right: 0;
      border: none; }

#app .app_feature {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #BBBBBB;
  padding: 0 10px; }
  #app .app_feature .detil .title {
    font-weight: 400;
    color: #909090 !important; }
  #app .app_feature .house_num {
    font-weight: 600;
    color: #ED8747 !important;
    line-height: 1.3; }
  #app .app_feature .house_unit {
    line-height: 1;
    color: #606060 !important; }
  #app .app_feature .icon {
    margin-right: 16px; }
    #app .app_feature .icon i::before {
      margin: 0; }

@media screen and (max-width: 767px) {
  #app .app_feature .icon {
    font-size: 40px !important;
    margin: 0 auto !important; } }

.app-hot_info {
  padding-top: 50px;
  position: relative; }
  @media screen and (max-width: 991px) {
    .app-hot_info {
      padding-top: 42.5px; } }
  @media screen and (max-width: 479px) {
    .app-hot_info {
      padding-top: 33px; } }
  .app-hot_info::after {
    content: '';
    display: table;
    width: 1px;
    height: 120px;
    background-color: #BBBBBB;
    margin: 50px auto 0; }
  .app-hot_info .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 991px) {
      .app-hot_info .container {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
  .app-hot_info .left, .app-hot_info .right {
    margin: 0 40px; }
  .app-hot_info .left {
    max-width: 584px;
    margin-left: 0; }
  .app-hot_info .right {
    width: calc(50% - 40px);
    margin-right: 0; }
    .app-hot_info .right p {
      margin-top: 10px; }
    .app-hot_info .right .btn {
      float: right;
      font-size: 1.16em;
      font-weight: 300;
      min-width: 200px; }
  .app-hot_info .advantage_block {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    margin: 0 0 20px; }
    .app-hot_info .advantage_block > * {
      padding: 0 40px 10px; }
      .app-hot_info .advantage_block > *:first-child {
        padding-left: 0; }
      .app-hot_info .advantage_block > *:last-child {
        border-left: 1px solid #BBBBBB;
        padding-right: 10px;
        padding-right: 0; }
    .app-hot_info .advantage_block::before, .app-hot_info .advantage_block::after {
      content: '';
      background-color: #BBBBBB;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto; }
    .app-hot_info .advantage_block::before {
      width: 100%;
      height: 1px; }
    .app-hot_info .advantage_block .icon {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 52px;
              flex: 0 0 52px;
      font-size: 52px;
      line-height: 52px;
      margin-right: 14px; }
      .app-hot_info .advantage_block .icon::before {
        margin: 0; }
    .app-hot_info .advantage_block p {
      line-height: normal; }
  @media screen and (max-width: 991px) {
    .app-hot_info::after {
      height: 50px;
      margin: 40px auto 0; }
    .app-hot_info .left, .app-hot_info .right {
      width: 100%;
      margin: 10px 0; }
    .app-hot_info .left {
      max-width: none; }
    .app-hot_info .advantage_block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%; }
      .app-hot_info .advantage_block > * {
        width: 50%;
        padding: 0 20px;
        -webkit-box-pack: start !important;
            -ms-flex-pack: start !important;
                justify-content: flex-start !important; }
        .app-hot_info .advantage_block > *:first-child {
          padding-left: 20px; }
    .app-hot_info .right p {
      padding: 0 20px; }
    .app-hot_info .right .btn {
      display: table;
      float: none;
      margin: 30px auto 0; }
    .app-hot_info .advantage_list li {
      padding: 0 20px; } }
  @media screen and (max-width: 600px) {
    .app-hot_info {
      padding-top: 20px; }
      .app-hot_info .advantage_block > * {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        border-left: none;
        padding: 0 10px !important; }
      .app-hot_info .advantage_block p {
        margin-top: 10px; }
      .app-hot_info .advantage_list li {
        padding: 0 8%; } }

.new-arrival {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  .new-arrival .pic_box {
    max-width: 818px; }
    .new-arrival .pic_box li {
      height: 26.563vw;
      min-height: 500px; }
  .new-arrival .l-card_box {
    background-color: #fff;
    -webkit-box-shadow: -2px 5px 30px 0 #ccc;
            box-shadow: -2px 5px 30px 0 #ccc;
    position: relative;
    padding: 60px 46px;
    margin-left: -100px; }
    @media screen and (max-width: 991px) {
      .new-arrival .l-card_box {
        padding: 51px 23px; } }
    @media screen and (max-width: 479px) {
      .new-arrival .l-card_box {
        padding: 39.6px 23px; } }
    @media screen and (max-width: 991px) {
      .new-arrival .l-card_box {
        margin-left: -50px; } }
  .new-arrival .l-card_info {
    max-width: 720px; }
    .new-arrival .l-card_info > .title {
      font-size: 2.4em;
      line-height: 1.4;
      margin: 0 0 10px; }
    .new-arrival .l-card_info table {
      width: calc(100% + 40px);
      margin: 10px -10px 0; }
      .new-arrival .l-card_info table td {
        min-width: 30% !important; }
  .new-arrival .other-info {
    font-size: 1.2em; }
  .new-arrival .app_feature {
    margin-top: 14px; }
    .new-arrival .app_feature .icon {
      font-size: 54px;
      margin-right: 20px !important; }
    .new-arrival .app_feature .detil .title {
      font-size: 1em;
      line-height: normal; }
    .new-arrival .app_feature .house_num {
      font-size: 1.5em; }
    .new-arrival .app_feature .house_unit {
      font-size: 12px; }
  .new-arrival .slick-dots {
    position: absolute; }
    .new-arrival .slick-dots li {
      height: auto !important;
      min-height: auto !important; }
  @media screen and (min-width: 992px) {
    .new-arrival {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .new-arrival .pic_box {
        width: 55%; }
        .new-arrival .pic_box .pic {
          -webkit-transition: transform 0.25s ease-in-out;
          -webkit-transition: -webkit-transform 0.25s ease-in-out;
          transition: -webkit-transform 0.25s ease-in-out;
          transition: transform 0.25s ease-in-out;
          transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out; }
        .new-arrival .pic_box:hover .pic {
          -webkit-transform: scale(1.04);
                  transform: scale(1.04); }
      .new-arrival .l-card_box {
        width: 55%; }
      .new-arrival .slick-dots {
        right: -80%;
        bottom: 10px;
        text-align: right; } }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .new-arrival .app_feature .icon {
      font-size: 40px;
      margin-right: 0; }
    .new-arrival .l-card_info > .title {
      font-size: 2.2em; } }
  @media screen and (max-width: 1199px) {
    .new-arrival .l-card_box {
      padding: 40px 40px; } }
  @media screen and (max-width: 991px) {
    .new-arrival {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .new-arrival .pic_box, .new-arrival .l-card_box {
        width: 90%; }
      .new-arrival .pic_box {
        max-width: none; }
        .new-arrival .pic_box li {
          min-height: 380px; }
      .new-arrival .l-card_box {
        margin-left: 0; }
      .new-arrival .l-card_info > .title {
        font-size: 1.8em; } }
  @media screen and (max-width: 767px) {
    .new-arrival .pic_box li {
      min-height: 260px; }
    .new-arrival .l-card_box {
      padding: 20px; }
    .new-arrival .app_feature .icon {
      display: none; } }

.all-estate ul {
  max-width: calc(1200px + 40px);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto !important; }

.all-estate .l-card_info > .title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.all-estate .app_feature .icon {
  font-size: 44px;
  line-height: normal; }

.all-estate .app_feature .detil .title {
  font-size: 17px;
  line-height: normal; }

.all-estate .app_feature .house_num {
  font-size: 1.444444em; }

.all-estate .app_feature .house_unit {
  font-size: 10px; }

@media screen and (min-width: 992px) {
  .all-estate .l-card_box {
    -webkit-transition: transform 0.25s ease-in-out;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out; }
    .all-estate .l-card_box:hover {
      -webkit-box-shadow: -2px 5px 30px 0 #ccc;
              box-shadow: -2px 5px 30px 0 #ccc; } }

@media screen and (min-width: 768px) {
  .all-estate li {
    width: 50%; } }

@media screen and (max-width: 991px) {
  .all-estate .app_feature .icon {
    display: none; } }

@media screen and (max-width: 767px) {
  .all-estate li {
    width: 100%;
    padding: 0 5%; } }
