.pageFill
    +pageFill
    +max-notebook
        height: auto
    @media screen and (max-height: 980px) 
        height: auto

.l-half_box
    +min-padpro
        .l-half
            &:nth-child(odd)
                .text
                    order: 1
                .text + *
                    order: 2
            &:nth-child(even)
                .text
                    order: 2
                .text + *
                    order: 1
.l-half
    +flexbox
    +flex-wrap(wrap)
    .text
        .main-title
            +mb(20px)
        p 
            text-align: justify
    +min-padpro
        .text,.text + div
            +flex(0 0 50%)
        &.pageFill
            align-items: center
    +max-pad
        .text,.text + div
            +flex(0 0 100%)
        



// l-list
.l-list_box
    +flexbox
    flex-wrap: wrap
    justify-content: space-around
    +min-pad
        margin: 0 -20px
.l-list
    +inline-flex
    .l-list_pic
        +flex(0 0 170px)
        height: 140px
    .l-list_text
        +inline-flex
        +flex-direction(column)
        +justify-content(space-between)
        width: calc(100% - 170px)
        padding-left: 24px
        .title
            text-align: justify
            margin-top: 0
    .l-list_info
        +flexbox
        justify-content: space-between
        > *
            display: inline-block
            margin: 0
            padding: 0
    +min-padpro
        min-width: calc(50% - 40px)
        margin: 24px 20px
        .l-list_text
            padding-right: 24px
    +max-pad
        width: calc(50% - 40px)
        margin: 20px 10px
        .l-list_text
            padding-left: 20px
            padding-right: 0
    +max-phone
        width: 100%
        margin: 20px 0
        .l-list_text
            width: calc(100% - 140px)
            padding-left: 16px


.l-chartNews
    +pt(80px)
    +pb(60px)
    position: relative
    .container
        +flexbox
        +flex-wrap(wrap)
        position: relative
    .text
        padding-right: 6%
    .slider-info
        width: 60%
        margin-top: -120px
    .chart_item
        display: block
        background-color: #fff
        box-shadow: -2px 5px 30px 0 #ccc
        padding: 10px
        width: 100%
        height: 26vw
        overflow: hidden
    .chart_pic
        width: 100%
        height: 100%
        background-size: contain!important
        min-height: 240px
    .chart_name
        font-weight: 400
        margin-top: 30px
        margin-bottom: 0
    .slick-list
        overflow: visible
    .slick-dots
        bottom: 5px
        text-align: right
    
    +min-pc-big
        .slider-info
            width: 60%
        .text
            +flex(0 0 40%)
    +max-pc
        .slider-info
            width: 50%
        .text
            +flex(0 0 50%)
    +max-padpro
        .slider-info
            width: 55%
        .text
            +flex(0 0 45%)
    
    +min-padpro
        .chart_item
            min-height: 360px

    +min-pad
        .slider-info
            .chart_item
                +trans(box-shadow)
            .chart_pic
                +trans(transform)
            .chart_name
                +trans(color)
            &:hover
                .chart_item
                    box-shadow: -2px 5px 30px 0 rgba($gary-lg,.8)
                .chart_pic
                    transform: scale(1.02)
                .chart_name
                    color: $primary-color
    +max-pad
        margin: 70px 0 60px
        .chart_item
            min-height: 300px
        .slider-info
            margin-top: -100px
    +max-phone
        margin: 0 
        .chart_item
            padding: 5px
        .text,.slider-info
            display: block
            width: 100%
        .text
            flex: none
        .slider-info
            max-width: 500px
            margin: 20px auto 0
    +max-phones
        .slick-dots
            text-align: center
            bottom: -15px
        .chart_name
            margin-top: 20px
            margin-bottom: 20px

                
            
.l-card
    display: block
    margin: 20px
    border: 1px solid $light
    .title
        font-weight: 600
        margin: 0
    .l-card_pic
        height: 14.5vw
        min-height: 200px
        overflow: hidden
        position: relative
        &::before,&::after
            content: ''
            display: block
            width: 100%
            position: absolute
            left: 0
            +trans(background)
        &::before
            height: 20%
            background: rgb(0,0,0)
            background: linear-gradient(0deg, rgba(0,0,0,0.500437675070028) 0%, rgba(0,0,0,0) 100%)
            opacity: .5
            bottom: 0
        &::after
            height: 100%
            background-color: rgba(255,255,255,.05)
            top: 0
    .l-card_info
        padding: 20px
        .f-subTitle
            margin-top: 0
    +min-padpro
        +trans(box-shadow)
        .l-card_pic
            > *
                +trans(transform)
        .l-card_info
            > .title
                +trans(color)
        &:hover
            box-shadow: 0px 0px 24px 0 #ccc
            .l-card_pic
                > *
                    transform: scale(1.025)
            .l-card_info
                > .title
                    color: $primary-color
    +max-pad
        .l-card_info
            padding: 10px
    +max-phone
        margin: 10px
    +max-phones
        margin: 0
        .slick

.l-iconGrid
    .line_w,.line_h
        display: inline-block
        background-color: $line-color
    .l-iconGrid_name
        font-weight: 400
        font-size: 1.04em
    .item
        +inline-flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
    .name_1,.name_2
        +flexbox
        align-items: center
        justify-content: center
        font-weight: 700
        grid-row: 2
        +min-pc
            font-size: $font-3l * 1.2
        +max-notebook
            font-size: $font-3l
        +max-pad
            font-size: $font-3l * .9
        
    +max-padpro
        margin: 0 5%
    +min-padpro
        display: grid
        min-height: 70vh
        grid-template-columns: 220px auto 220px auto 220px
        grid-template-rows: auto 120px auto 120px auto 
        .name_1
            grid-column: 2
        .name_2
            grid-column: 4
        .item
            &._01,&._02,&._03
                grid-row: 1
            &._01
                grid-column: 1
            &._02
                grid-column: 3
            &._03
                grid-column: 5
            &._04,&._05,&._06
                grid-row: 3
            &._04
                grid-column: 1
            &._05
                grid-column: 3
            &._06
                grid-column: 5
        .line_w
            width: 100px
            height: 1px
            margin: calc(180px / 2) auto 0
            &._01,&._02
                grid-row: 1
            &._03,&._04
                grid-row: 3
            &._01,&._03
                grid-column: 2
            &._02,&._04
                grid-column: 4
        .line_h
            height: 100px
            width: 1px
            grid-row: 2
            margin: 10% auto
    +max-pad
        margin: 0 auto
        padding: 0 6%
        +flexbox
        +flex-wrap(wrap)
        justify-content: space-around
        h2
            display: block
        .name_1,.name_2,.line_w,.line_h
            display: none
        .item
            margin: 20px

    
    
    
.l-iconGrid_icon
    > i
        width: 220px
        height: 180px
        display: block
        background-position: center
        background-repeat: no-repeat
    +max-notebook
        > i
           width: 200px
           height: 160px 