/* ==========================================================================
		about
 @mixin =========================================================================*/
.team-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px; }
  @media screen and (max-width: 991px) {
    .team-box {
      margin-top: 20px; } }

.team-item {
  padding: 35px;
  -webkit-transition: -webkit-box-shadow .35s;
  transition: -webkit-box-shadow .35s;
  transition: box-shadow .35s;
  transition: box-shadow .35s, -webkit-box-shadow .35s;
  margin: 20px; }
  .team-item:hover {
    -webkit-box-shadow: 0 0 20px 0 #ccc;
            box-shadow: 0 0 20px 0 #ccc; }
    .team-item:hover .team-item_pic {
      -webkit-filter: grayscale(0);
              filter: grayscale(0); }
  @media screen and (max-width: 991px) {
    .team-item {
      margin: 0; } }

.team-item_inner {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-width: 240px; }

.team-item_pic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #ccc;
  overflow: hidden;
  margin-bottom: 30px;
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
  -webkit-transition: filter 0.25s ease-in-out;
  -webkit-transition: -webkit-filter 0.25s ease-in-out;
  transition: -webkit-filter 0.25s ease-in-out;
  transition: filter 0.25s ease-in-out;
  transition: filter 0.25s ease-in-out, -webkit-filter 0.25s ease-in-out; }

.team-item_text .icon {
  margin-top: 20px;
  display: inline-block;
  font-size: 24px; }

.team-item_text .name, .team-item_text .sub-name {
  display: block;
  font-style: normal; }

.team-item_text .name {
  line-height: normal;
  font-weight: 600; }

.team-item_text .sub-name {
  font-size: 21.6px;
  margin-bottom: 10px;
  color: #909090; }

.team-item_text > ul {
  color: #909090; }

.team-hover {
  display: none;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px 0 #ccc;
          box-shadow: 0 0 20px 0 #ccc;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all .35s;
  transition: all .35s;
  z-index: 50; }
  .team-hover .left {
    background-color: #fff;
    padding: 50px 30px; }
    .team-hover .left .team-item_pic {
      width: 150px;
      height: 150px;
      margin-bottom: 40px; }
    .team-hover .left ul {
      margin: 10px auto !important;
      font-size: 17px; }
  .team-hover .right {
    width: auto;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #f2f2f2;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 40px 30px;
    background-image: url(images/cm2.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: top right -5px;
    overflow: hidden; }
    .team-hover .right em {
      font-style: normal; }
    .team-hover .right .job {
      display: block;
      font-style: normal;
      margin-top: 10px;
      margin-bottom: 10px; }
    .team-hover .right p {
      font-size: 17px;
      margin-bottom: 0; }
  .team-hover::before {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    z-index: -1; }
  @media screen and (min-width: 992px) {
    .team-hover {
      max-width: 580px; }
      .team-hover .inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
  @media screen and (max-width: 991px) {
    .team-hover {
      width: 65%; }
      .team-hover .inner {
        max-height: 58vh;
        overflow-y: scroll; } }
  @media screen and (max-width: 767px) {
    .team-hover {
      width: 80%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .team-hover .left, .team-hover .right {
        width: 100%; }
      .team-hover .right {
        padding: 30px; }
      .team-hover .left {
        padding: 30px; }
        .team-hover .left .team-item_pic {
          margin-bottom: 20px; } }
  .team-hover.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1; }

.introduction {
  background-image: url("images/city-bg_fill.jpg");
  background-position: center; }
  .introduction .text {
    max-width: 950px;
    font-weight: 300;
    color: #606060;
    line-height: 1.8;
    margin: 40px auto 0; }

.why-us .l-iconGrid_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 40px !important; }
  @media screen and (max-width: 479px) {
    .why-us .l-iconGrid_box {
      margin-top: 30px !important; } }

.why-us li {
  display: inline-block;
  text-align: center;
  font-size: 18px; }

.why-us .l-iconGrid_name {
  font-weight: 400; }

@media screen and (min-width: 992px) {
  .why-us .l-iconGrid_item {
    position: relative; }
    .why-us .l-iconGrid_item::after {
      content: '';
      display: block;
      width: 70px;
      height: 1px;
      background-color: #BBBBBB;
      position: absolute;
      top: calc((180px - 1px) / 2);
      right: -55%; }
    .why-us .l-iconGrid_item:last-child::after {
      display: none; } }

@media screen and (max-width: 479px) {
  .why-us .l-iconGrid_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 14px;
    margin-bottom: 14px;
    border-bottom: 1px solid #BBBBBB; }
    .why-us .l-iconGrid_item:last-child {
      border: none; }
  .why-us .l-iconGrid_icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    margin-bottom: 0; }
    .why-us .l-iconGrid_icon i {
      width: 100px;
      height: 100px; }
  .why-us .l-iconGrid_name {
    width: 100%;
    text-align-last: left;
    margin-left: 20px; } }

#about p {
  line-height: 1.8; }

#about .l-half .page-headline_en {
  position: relative; }
  #about .l-half .page-headline_en .title {
    margin-bottom: 0; }
  #about .l-half .page-headline_en .sub {
    margin-bottom: 50px; }
  #about .l-half .page-headline_en::after {
    content: '';
    display: block;
    width: 120vw;
    height: 1px;
    background-color: #EE833E;
    position: absolute;
    bottom: -25px;
    left: -60vw;
    z-index: -1; }

#about .l-half .text p {
  width: 95%; }

#about .l-half:nth-child(odd) .text {
  padding-left: 5%; }

#about .l-half:nth-child(even) .text {
  padding-right: 5%; }

@media screen and (max-width: 767px) {
  #about .text {
    padding: 0 6%; }
    #about .text p {
      width: 100% !important; } }

#vision {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #vision .text {
    margin: 50px 0; }
    #vision .text p {
      width: 92% !important; }
  @media screen and (min-width: 768px) {
    #vision .pic {
      width: 50%; } }
  @media screen and (max-width: 767px) {
    #vision .text {
      margin: 20px 0 0; }
      #vision .text p {
        width: 100% !important; } }
  @media screen and (max-width: 479px) {
    #vision {
      margin: 0 -20px; }
      #vision .pic {
        max-height: 220px;
        overflow: hidden; } }

#persist strong + p {
  margin-top: 0; }

#persist .l-list_box {
  padding: 0 30px;
  background-color: #fff; }

@media screen and (min-width: 1200px) {
  #persist > .text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%; }
  #persist .l-list_box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%; } }

@media screen and (max-width: 1199px) {
  #persist .text {
    width: 100%;
    margin-bottom: 10px; }
  #persist .l-list_box {
    width: 100%; } }

@media screen and (min-width: 480px) {
  #persist .l-list_box li {
    width: 272px; } }

@media screen and (max-width: 479px) {
  #persist {
    margin: 0 -20px; } }

.l_numberList .text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 20px; }
  .l_numberList .text p {
    margin: 0; }

.l_numberList .num {
  font-family: "Crimson Text", "Noto Sans TC", serif;
  font-size: 40px;
  line-height: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px; }
